@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Julius+Sans+One&family=Reggae+One&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Julius+Sans+One&family=Reggae+One&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background: rgb(224, 252, 255);
    background: linear-gradient(90deg, rgba(224, 252, 255, 1) 0%, rgba(245, 223, 246, 1) 100%);
    margin: 0;
}

header {
    margin-right: 20px;
    height: 60px;
}

header ul li {
    margin-left: 10px;
    margin-right: 10px;
}

header .header-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Joan", sans-serif;
    letter-spacing: 1px;
}

header .header-nav a:hover {
    color: rgb(0, 238, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}

header .header-nav a:focus {
    color: rgb(0, 238, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.first-page {
    background-image: url('C:/Ags construction/src/assets/ags5.jpg');
    margin: 0;
    background-repeat: no-repeat;
    object-fit: fill;
    background-size: cover;
    background-blend-mode: normal;
    height: 900px;
    width: 100%;
}

main .intro-page {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
}

.padding-center {
    color: rgb(0, 0, 0);
    width: 700px;
    font-size: 30px;
    font-family: "Joan", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 5px 3px 6px rgba(255, 255, 255, 0.911);
    line-height: 1.5;
    text-transform: uppercase;
}

/* second */
.content-page {
    height: 400px;
    background-image: url('C:/Ags construction/src/assets/ags2.jpg');
    margin: 0;
    background-repeat: no-repeat;
    /* opacity: 0;
    transition: opacity 0.3s ease-in-out; */
}

.animate {
    opacity: 1;
}

.second-page {
    display: flex;
    justify-content: end;
}

.padding-left {
    position: relative;
    top: 5rem;
    width: 500px;
    margin-right: 30px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    text-shadow: 5px 3px 6px rgba(0, 0, 0, 0.116);
    font-style: italic;
}

/* third */
.content-page2 {
    height: 400px;
    background-image: url('C:/Ags construction/src/assets/ags3.jpg');
    margin: 0;
    background-repeat: no-repeat;
    background-position: right;
}
.heading{
    font-family: "Julius Sans One", sans-serif;
}
.sub-heading{
    font-family: "Saira", sans-serif;
}
.third-page{
    display: flex;
    justify-content: start;
}
.padding-right{
    position: relative;
    top: 2rem;
    width: 500px;
    margin-left: 30px;
}
/* fourth */
.content-page3{
    height: 400px;
    background-image: url('C:/Ags construction/src/assets/ags2.jpg');
    margin: 0;
    background-repeat: no-repeat;
    background-position:left;
}
.fourth-page{
    display: flex;
    justify-content: end
}
.padding{
    position: relative;
    top: 2rem;
    width: 500px;
    margin-right: 30px;
    color: rgb(0, 0, 0);
}
/* page 5 */
.page5{
    display: flex;
    justify-content: center;
}
.content-page5{
    height:auto;
}
/* get in touch */
.get-touch{
    font-family:sans-serif;
    font-weight: 400;
    font-style:italic;
    margin-left: 30px;
}
.contact{
    height: 500px;
}
/* form */
.contact-us{
    display: flex;
    justify-content: center;
}
.form-contact {
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;
    border: 1px solid #aaa9f1;
    background: linear-gradient(to right, #7ebce6, #9393f1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .form-contact form .descr {
    font-size: 20px;
    font-weight: 500;
    color: #e8e8e8;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input, textarea {
    margin: 1em 0 1em 0;
    width: 300px;
    position: relative;
  }
  
  .input input, textarea {
    font-size: 100%;
    padding: 0.7em;
    outline: none;
    color: #e8e8e8;
    border: none;
    border-bottom: 2px solid #e8e8e8;
    background: transparent;
    border-radius: none;
    width: 100%;
    resize: none;
  }
  
  .input label {
    font-size: 100%;
    position: absolute;
    left: 0;
    color: #e8e8e8;
    padding: 0.7em;
    margin-left: 0.1em;
    pointer-events: none;
    transition: all 0.5s ease;
    text-transform: uppercase;
  }
  
  .input :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
  }
  
  .input textarea:focus ~ label,
  .input textarea:valid ~ label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(37, 37, 211);
  }
  
  .form button {
    color: #e8e8e8;
    font-size: 15px;
    align-self: flex-start;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  .form button:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .form button:hover:before {
    opacity: 0.2;
  }
  
  .form button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  